## Libraries

In [1]:
#load the Basic libraries
import pandas as pd 
import numpy as np
import re
import numpy
import warnings
warnings.filterwarnings('ignore')

### Lemmatized Content

In [4]:
df3 = pd.read_csv("D:\\Git\\AbusiveEmailDetection_nlp_model\\lemma_dataset.csv")
df3.rename(columns={'Unnamed: 0':'index'}, inplace=True)

In [5]:
df3.set_index('index',inplace=True)
df3.head()

         Class                                 lemmatized_content
index
0      Abusive  eat shit lavorato bets minn buff phil indi cin...
1      Abusive                                               fuck
2      Abusive  gentleman champagne approximate retail interes...
3      Abusive  long fend chick life sooooo hard monkey brian ...
4      Abusive  asshole lavorato gambling problem bills denver...

In [6]:
df3['target']=np.where(df3['Class']=='Abusive',1,0)
del df3['Class']
df3.head()

                                      lemmatized_content  target
index
0      eat shit lavorato bets minn buff phil indi cin...       1
1                                                   fuck       1
2      gentleman champagne approximate retail interes...       1
3      long fend chick life sooooo hard monkey brian ...       1
4      asshole lavorato gambling problem bills denver...       1

#### Vectorizing the text

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

tfidf = vectorizer.fit_transform(df3.lemmatized_content.astype('str')) 
vect_datset=pd.DataFrame(tfidf.toarray())
#vectorizer.vocabulary_

#Number of tables is over 1lakh which is a huge amount

In [9]:
vect_datset

,0,1,2,3,4,5,6,7,8,9,...,102176,102177,102178,102179,102180,102181,102182,102183,102184,102185
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48071,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48074,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48075,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
vect_datset['target'] =df3.target

MemoryError: